@mixin status-image($valid-image) {
  width: 20px;
  height: 20px;
  border: 0;
  padding: 0;
  margin: 10px 20px 0 0;
  background-repeat: no-repeat;
  float: right;

  &.new {
    display: none;
    background-image: url("../loader.gif");
  }

  &.checking {
    display: block;
    background-image: url("../loader.gif");
  }

  &.valid {
    display: block;
    background-image: url($valid-image);
  }

  &.invalid {
    display: block;
    background-image: url("../invalid.png");
  }
}


// Sexy Input Boxes
input {
    border:2px solid #dadada;
    border-radius:7px;
    font-size:20px;
    padding:5px; 
}
input:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

.error { 
    outline:none;
    border-color:#ED0033;
    box-shadow:0 0 10px #ED0033;
}

.pass { 
    outline:none;
    border-color:#00ED1C;
    box-shadow:0 0 10px #00ED1C;
}

#devise_signup {
  margin:0px auto;
  padding-left:30px;
  width:360px;
  color:white;
  background-color:black;

  input[type="text"], input[type="email"], input[type="password"], input[type="url"] {
    width: 295px;
  }

  .twitter {
    @include status-image("../twitter_icon.png");
  }

  .github {
    @include status-image("../github_icon.png");
  }

  .blogrss {
    @include status-image("../blog_icon.png");
  }

  .email {
    @include status-image("../ruby_logo_20x.png")
  }
}

.testing {
  @include status-image("../ruby_logo_20x.png")
}