<script>
  $(function() {
    // Reset must be defined here instead of coffeescript since the assests are created
    // upon load and unable to execute/access erb (from what I could tell)
    app.Tweets.reset(<%= @tweets.to_json.html_safe %>);
  });
</script>

<div id='main' class='feeds'>
  <div id='twitter' class='feed'>
  </div>
  <div id='github' class='feed'>
  </div>
  <div id='blogrss' class='feed'>
  </div>
</div>