#main.feeds
  #twitter.feed.wrapper
  #github.feed.wrapper
  #blogrss.feed.wrapper

:javascript
  $(function() {    
    window.router = new app.Routers.PagesRouter({ tweets:     #{@tweets.to_json({:methods => :twitter_member}).html_safe},
                                                  git_events: #{@git_events.to_json({:methods => :github_member}).html_safe},
                                                  blog_posts: #{@blog_posts.to_json({:methods => :blog_member}).html_safe} });
    Backbone.history.start();
  });
