<div id='main' class='feeds'>
  <div id='twitter' class='feed'>
  </div>
  <div id='github' class='feed'>
  </div>
  <div id='blogrss' class='feed'>
  </div>
</div>

<script>
  $(function() {    
    window.router = new app.Routers.PagesRouter({ tweets: <%= @tweets.to_json.html_safe -%>,
                                                  git_events: <%= @tweets.to_json.html_safe -%> })
    Backbone.history.start();
  });
</script>

