
<table>
  <th>Name</th>
  <th>Email</th>
  <th>Status</th>
  <th>Is Admin?</th>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.name %></td>
      <td><%= member.email %></td>
      <td><%= member.status %></td>
      <td><%= member.admin %></td>
    </tr>
  <% end %>
</table>
