$body-color: #222222;
$feed-height: 1500px;
$feed-border-color: rgba(173,13,4,0.8);
$footer-height: 30px;

@mixin page-texture {
  background-image: url("black-Linen.PNG");
}

@mixin round-corner($h, $v) {
  border-top-left-radius: $h $v;
  border-top-right-radius: $h $v;
  border-bottom-left-radius: $h $v;
  border-bottom-right-radius: $h $v;
}

@mixin list-style($color) {
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: 90%;
}

@mixin fancy-links {
  a {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 1px dotted #555555;
    margin: 0 8px;
  }
  a:hover {
    border-bottom: 1px dotted #FF0000;
  }
}

body {
  font-family: Gill Sans / Gill Sans MT, Verdana, Helvetica, Arial, sans-serif;
  background-color: $body-color;
  @include page-texture;
}

header {
  padding-top: 10px !important;
  opacity: 1;
  -moz-opacity: 1;
  filter:alpha(opacity=1);
  height: 90px;

  .controls {
    float: right;
    border: 0px solid black;

    @include fancy-links;
  }

  .title a {
    text-decoration: none;
    text-align: center;
    text-shadow: #EE1111 0px 0px 10px;
    color: #FFEEEE;
    float: center;
    width: auto;
  }
}

footer {
  text-align: center;
  clear: both;  
  height: $footer-height;
  opacity: 1;
  padding-top: 5px !important;
  padding-bottom: 0px !important;

  img {
    float: left;
    width: 20px;
  }
  .credit {
    width: 80px;
    float: left;
    @include fancy-links;
  }
  .centerer {
    width: 220px;
  }
}


#twitter {
  background-image: url("twitter_background_op35.png");
  background-repeat: repeat-y;
  background-position: center 20%;
  background-size: 90%;
}

#github {
  background-image: url("octocat_background_op35.png");
  background-repeat: repeat-y;
  background-position: center 20%;
  background-size: 90%;
}

#blogrss {
  background-image: url("blog_background_op35.png");  
  background-repeat: repeat-y;
  background-position: center 20%;
  background-size: 90%;
}

.feeds {
  ul {
    list-style-type: none;
    li:first-child {
      border-top: 0px !important;
    }
    li:last-child {
      border-bottom: 0px !important;
    }
  }

}


.feed {
  min-height: $feed-height;
  max-height: $feed-height;
  height: auto !important;
  height: $feed-height;
  overflow: auto;
  overflow-y: scroll;
  word-wrap: break-word;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-top: 1px solid $feed-border-color;
  border-bottom: 1px solid $feed-border-color;

  li {
    border-bottom: 1px solid $feed-border-color;
    padding: 0px 5px 5px 10px;
    margin: 10px 0 0 0;
    color: #FFFFFF;

    p {
      @include fancy-links;
    }
  }
}

.floatClear {
  /*clear: both;*/
}

.memberSection {
  font-weight: bold;

  .profileImage {
    float: left;
    width: 38px;
    height: 55px;

    img {
      width: 32px;
      height: 32px;
    }
  }
  .name {
    cursor: pointer;
  }

  .name:hover {
    color: #aa8800;  
  }

  .bottomRow {
    padding-left: 45px;
    height: 30px;

    .memberLinks {
      display: none;
      float: left;

      a {
        text-decoration: none;
        opacity: 0.5;
        -moz-opacity: 0.5;
        filter:alpha(opacity=5);
      }
      a:hover {
        opacity: 1;
        -moz-opacity: 1;
        filter:alpha(opacity=1);
      }
    }
    .date {
      float: right;
      font-size: .5em !important;
    }
  }
}

.itemTitle {
  font-variant: small-caps;
}

.itemDetail {
  font-style: none;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 1px;

  .commitListItem {
    padding-left: 20px !important;
  }

}


/* Webkit scroll bar hackery */

.feed::-webkit-scrollbar {
    width: 12px;
}

.feed::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.feed::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: $feed-border-color; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
}