header, footer {
  background-color: #ffdd88;
}

#twitter {
  background-color: #5588dd;
}
#github {
  background-color: #88dd55;
}
#blogrss {
  background-color: #dd5588;
}

ul {
  list-style-type: none;
}

.feed {
  min-height: 500px;
  max-height: 500px;
  height: auto !important;
  height: 500px;
  overflow: auto;
  overflow-y: scroll;
  word-wrap: break-word;
}

footer {
  clear: both;
}


/* Webkit scroll bar hackery */

.feed::-webkit-scrollbar {
    width: 12px;
}

.feed::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.feed::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(230,20,50,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/*
* .feed::-webkit-scrollbar-thumb:window-inactive { 
*   background: rgba(255,0,0,0.4); 
* }
*/


