$feed-color: #eebbcc;
$twitter-color: #5588dd;
$github-color: #88dd55;
$blog-color: #dd5588;

body {
  font-family: Verdana, Helvetica, Arial;
}


header, footer {
  background-color: #ffdd88;
}

#twitter {
  background-color: $twitter-color;
  li {
    background-color: lighten($twitter-color, 10%);
  }
  li:hover {
    background-color: darken($twitter-color, 10%);
  }
}
#github {
  background-color: $github-color;
  li {
    background-color: lighten($github-color, 10%);
  }
  li:hover {
    background-color: darken($github-color, 10%);
  }
}
#blogrss {
  background-color: $blog-color;
  li {
    background-color: lighten($blog-color, 10%);
  }
  li:hover {
    background-color: darken($blog-color, 10%);
  }
}

ul {
  list-style-type: none;
}

.feed {
  min-height: 500px;
  max-height: 500px;
  height: auto !important;
  height: 500px;
  overflow: auto;
  overflow-y: scroll;
  word-wrap: break-word;

  li {
    border: 1px solid #552233;
    padding: 0 0 0 10px;
  }
}

footer {
  clear: both;
}

.memberSection {
  font-weight: bold;

  .name {
    cursor: pointer;
  }

  .name:hover {
    color: #aa8800;
    border-bottom: 1px dotted #443300;  
  }

  .memberPopup {
    font-weight: normal;
    display: none;
    position: absolute;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #222;
    background-color: #edd;
    z-index: 99;
  }
}



/* Webkit scroll bar hackery */

.feed::-webkit-scrollbar {
    width: 12px;
}

.feed::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.feed::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(230,20,50,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/*
* .feed::-webkit-scrollbar-thumb:window-inactive { 
*   background: rgba(255,0,0,0.4); 
* }
*/

// Sexy Input Boxes
input {
    border:2px solid #dadada;
    border-radius:7px;
    font-size:20px;
    padding:5px; 
}

input:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}
