%center
  .centerer
    %img{ :src => 'assets/ruby_logo_20x.png' }
    = render :partial => 'layouts/credits', :locals => { :credit_id => 2 }
    %img{ :src => 'assets/ruby_logo_20x.png' }
    = render :partial => 'layouts/credits', :locals => { :credit_id => 1 }
    %img{ :src => 'assets/ruby_logo_20x.png' }